/* Padding: TOP RIGHT BOTTOM LEFT  */
body {
    background-color: #121212;
}

a.click:hover {
    color: #228C3E;
    border-color: #228C3E;
}
/* Common styles for anchor tags */
a {
    font-size: 5vmax;
    padding: 1% 3%;
    border: solid;
    border-color: #002409;
    color: #005A18;
width: 70px;
}

/* Styles for the header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #04290d;
    padding: 10px;
}

/* Styles for the navigation menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0;
    padding: 0;
}

/* Styles for responsive behavior */
@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    
    ul {
        flex-direction: column;
    }
    
    li {
        margin-bottom: 5px;
    }
}

#head {
    display: inline;
}

h1 {
    color: #0F7329;
    font-size: 200%;
    padding: 10px;
    margin: 5px;

}

* {
    color: azure;
}

.img {
    color: rgb(27, 27, 27);
    float: left;
    border: solid 5px;
    padding: 5px;
    margin: 2px;
}

.h {
    float: left;
}


/*
.profile:hover .submenu{
    display: block;
}
.submenu{
    display: none;
    position: absolute;
    list-style: none;
    top: 28;
    left: 0;
}
*/