/* Padding: TOP RIGHT BOTTOM LEFT  */
body {
    background-color: #121212;
}

a:hover{
    color: #228C3E;
    border-color: #228C3E;
}

.click{
    color: #19692f;
    border-color: #19692f;
}

/* Common styles for anchor tags */
a {
    font-size: 30px;
    padding: 2% 5% 2% 5%;
    border: solid;
    border-color: #002409;
    color: #005A18;
}

/* Styles for the header */
.header {
    display: flex;
    align-items: center;
    background-color: #04290d;
    padding: 15px;
    width: 100%;
}

/* Styles for the navigation menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
}

li {
    align-content: center;
    margin: 0;
    padding: 3%;
    width: 215px;
}

/* Styles for responsive behavior */
@media screen and (max-width: 700px) {
    a{
        /* width: 260px; */
    }
    .header {
        flex-direction: column;
        text-align: center;
    }
    
    ul {
        flex-direction: column;
    }
    
    li {
        margin-bottom: 1%;
    }
}

#head {
    display: inline;
}

h1 {
    color: #0F7329;
    font-size: 200%;
    padding: 10px;
    margin: 5px;

}

* {
    color: #ffffff;
}

.img {
    color: rgb(27, 27, 27);
    float: left;
    border: solid 5px;
    padding: 5px;
    margin: 2px;
}

.h {
    float: left;
}


/*
.profile:hover .submenu{
    display: block;
}
.submenu{
    display: none;
    position: absolute;
    list-style: none;
    top: 28;
    left: 0;
}
*/